@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@media only screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }
  
}

@keyframes mouseHover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
  background-color: #1a1c20;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

h5{
  color: #e2e2e3;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

h6{
  color: #e2e2e3;
  text-align: center;
  font-size: 13px;
}

.name{
  color: #e2e2e3;
}

p.paragraph {
  position: relative;
  text-align:justify;
  word-break: break-all;
  font-size: 18px;
  color: #e2e2e3;
}

img {
  align-content: center;    
}

.btn {
  color: #e2e2e3;
  font-size: 15px;
  border: 0.5px solid #faf8ef;
}

.btn:hover {
  display: block;
  animation: mouseHover 1.5s;
  border-radius: 5px;
  text-decoration: none;
}

hr {
  border: 1; border-top: 1px dotted #faf8ef;
}